<!doctype html>
<html lang="en">
 
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="assets/vendor/bootstrap/css/bootstrap.min.css">
    <link href="assets/vendor/fonts/circular-std/style.css" rel="stylesheet">
    <link rel="stylesheet" href="assets/libs/css/style.css">
    <link rel="stylesheet" href="assets/vendor/fonts/fontawesome/css/fontawesome-all.css">
    <link rel="stylesheet" href="assets/vendor/charts/chartist-bundle/chartist.css">
    <link rel="stylesheet" href="assets/vendor/charts/morris-bundle/morris.css">
    <link rel="stylesheet" href="assets/vendor/fonts/material-design-iconic-font/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="assets/vendor/charts/c3charts/c3.css">
    <link rel="stylesheet" href="assets/vendor/fonts/flag-icon-css/flag-icon.min.css">
    <title>NSRANG</title>
</head>

<body>
    <!-- ============================================================== -->
    <!-- main wrapper -->
    <!-- ============================================================== -->
    <div class="dashboard-main-wrapper">
        <!-- ============================================================== -->
        <!-- navbar -->
        <!-- ============================================================== -->


<div class="dashboard-header">
            <nav class="navbar navbar-expand-lg bg-white fixed-top">
                <a class="navbar-brand" href="../index.html">국가보안연구소</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse " id="navbarSupportedContent">

                    

                    <ul class="navbar-nav ml-auto navbar-right-top">
                        <li class="nav-item dropdown ">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" active="">
                             대쉬보드
                            </a>
                           <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                              <a class="dropdown-item" href="#"></a>
                              <a class="dropdown-item" href="#"></a>
                              <div class="dropdown-divider"></div>
                              <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                          </li>

                          <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            에이전트관리
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                              <a class="dropdown-item" href="#"></a>
                              <a class="dropdown-item" href="#"></a>
                              <div class="dropdown-divider"></div>
                              <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                          </li>


                                    <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              그룹 및 정책관리
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                              <a class="dropdown-item" href="#">기본정보</a>
                              <a class="dropdown-item" href="#">신규그룹생성</a>
                              <a class="dropdown-item" href="#">에이전트 할당</a>
                              <a class="dropdown-item" href="#">정책적용</a>
                              <a class="dropdown-item" href="#">레포팅</a>
                              
                          </div></li>

                          <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              평가문항 추출/로그관리
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                              <a class="dropdown-item" href="#">Action</a>
                              <a class="dropdown-item" href="#">Another action</a>
                              <div class="dropdown-divider"></div>
                              <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                          </li>


                    
                     <li class="nav-item dropdown connection">
                            <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">설정 관리 <i class="far fa-sun"></i> </a>
                            <ul class="dropdown-menu dropdown-menu-right connection-dropdown">
                                <li class="connection-list">
                                    <div class="row">
                                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 ">
                                            <a href="#" class="connection-item">
                                                <span>CPE</span></a>
                                        </div>
                                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 ">
                                            <a href="#" class="connection-item"> <span>CCE</span></a>
                                        </div>
                                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 ">
                                            <a href="#" class="connection-item"> <span>OVAL</span></a>
                                        </div>
                                    </div>
                                    
                                </li>
                               
                            </ul>
                        </li>
                        <li class="nav-item dropdown nav-user">

                            <a class="nav-link nav-user-img" href="#" id="navbarDropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">사용자 관리 <img src="../images/wook.png" alt="" class="user-avatar-md rounded-circle"></a>
                            <ul class="dropdown-menu dropdown-menu-right connection-dropdown">
                                <li class="connection-list">
                                    <div class="row">
                                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 ">
                                            <a href="#" class="connection-item">
                                                <span>로그인</span></a>
                                        </div>
                                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 ">
                                            <a href="#" class="connection-item"> <span>로그아웃</span></a>
                                        </div>
                                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 ">
                                            <a href="#" class="connection-item"> <span>정보변경</span></a>
                                        </div>
                                    </div>
                                    
                                </li>
                               
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>


       <div class="">
            <div class="dashboard-ecommerce">
                <div class="container-fluid dashboard-content ">
                    <!-- ============================================================== -->
                    <!-- pageheader  -->
                    <!-- ============================================================== -->
                   
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="page-header">
                        <h2 class="pageheader-title">에이전트 관리 </h2>
                        <div class="page-breadcrumb">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">MENU</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">에이전트 관리 </li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">
               <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                  <div class="card" style="height: 500px; overflow: scroll;">
                    
                    <div class="card-body p-0">
\   
                        <div class="row"> 
                            <div class="col-xl-3">
                              <label class="custom-control custom-checkbox" style="margin-left: 50px">
                                <input id="ck1" name="ck1" type="checkbox" class="custom-control-input"><span class="custom-control-label">모두 선택</span>
                              </label>
                            </div>

                            <div class="col-xl-5" style="height: 70px">
                                <div class="input-group input-search">
                                    <input class="form-control" type="text" placeholder="Search "><span class="input-group-btn">
                                    <button class="btn btn-secondary" type="button"><i class="fas fa-search"></i></button></span>
                                </div>
                            </div>

                            <button type="submit" class="btn btn-space btn-primary">정보수정</button>

                            <button type="submit" class="btn btn-space btn-primary">등록</button>

                            <button type="submit" class="btn btn-space btn-primary">삭제</button>

                            <div class="float-right icon-circle-medium  icon-box-lg  bg-info-light mt-1">
                            
                            <i class="fa fa-eye fa-fw fa-sm text-info"><h5>갱신</h5></i>
                                
                                </div>
                            
                        </div>
                
                        <div class="table-responsive">
                            <table class="table">
                                <thead class="bg-light">
                                    <tr class="border-0">
                                        <th class="border-0 text-center">check</th>
                                        <th class="border-0 text-center">상태</th>
                                        <th class="border-0 text-center ">IP</th>
                                        <th class="border-0 text-center">운영체제 버전</th>
                                        <th class="border-0 text-center">용도</th>
                                        <th class="border-0 text-center">소유자</th>
                                        <th class="border-0 text-center">요청시간</th>
                                        <th class="border-0 text-center">등록시간</th>
                                        <th class="border-0 text-center">삭제</th>
                                    </tr>
                                </thead>
                                <tbody>      
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
              </div>
            </div>

<!-- ============================================================== -->
<!-- 숫자 네비게이션 [1][2][3][4][5][6][7] 시작  얘를 가운대로 어떻게 보낼까...-->
<!-- ============================================================== -->

                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12" >
                    <div class="">
                        <nav aria-label="Demo of active current page number">
                            <ul class="pagination">
                                <li class="page-item"><a class="page-link" href="#">Prev</a></li>

                                <li class="page-item"><a class="page-link" href="#">1</a></li>

                                <li class="page-item"><a class="page-link" href="#">2</a></li>

                                <li class="page-item active"><a class="page-link" href="#">3</a></li>

                                <li class="page-item"><a class="page-link" href="#">4</a></li>

                                <li class="page-item"><a class="page-link" href="#">5</a></li>

                                <li class="page-item"><a class="page-link" href="#">6</a></li>

                                <li class="page-item"><a class="page-link" href="#">7</a></li>               

                                <li class="page-item"><a class="page-link" href="#">Next</a></li>
                            </ul>

                        <div class= "row">
                        <div class="col-xl-7 col-lg-7 col-md-7 col-sm-7 col-7">
                            <div class="card">
                                <div class="card-header"><h3 style="text-align: center;">후보에이전트 등록/일괄정보갱신</h3>
                                </div>
                                
                                <div class="card-body">
                                    <div class="row">

                                        <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2" style="margin-right: 70px; margin-left: 70px;">
                                        <button type="submit" class="btn btn-dark active">1.엑셀입력(일괄입력)</button>
                                        </div>

                                        <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2" >
                                        
                                         <a href="#" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal">2.수동입력</a>

                                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="display: none;">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">에이전트 수동 입력</h5>
                                            <a href="#" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">×</span>
                                            </a>
                                            </div>


                                    <div class="modal-body">
                                                   <form>
                                            <div class="form-group">
                                                <label for="inputText3" class="col-form-label">IP</label>
                                                <input id="inputText3" type="number" class="form-control">
                                            </div>
                                            <div class="form-group">
                                                <label for="inputText4">운영체제 버전</label>
                                                <input id="inputText4" type="text" placeholder="Windows 10" class="form-control">
                                            </div>
                                            <div class="form-group">
                                                <label for="inputText4" class="col-form-label">용도</label>
                                                <input id="inputText4" type="text" class="form-control" placeholder="Numbers">
                                            </div>
                                            <div class="form-group">
                                                <label for="inputText4">소유자</label>
                                                <input id="inputText4" type="text"  class="form-control">
                                            </div>
                                           
                                        </form>


                                    </div>
                                                <div class="modal-footer">
                                                    <a href="#" class="btn btn-secondary" data-dismiss="modal">닫기</a>
                                                    <a href="#" class="btn btn-primary">변경 저장</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>        

                                        </div>

                                    <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2" style="margin-right: 50px;">
                                        <button type="submit" class="btn btn-info">3.등록정보갱신(일괄)</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            </div>

                            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h3 style="text-align: center;">오프라인 정보시스템 등록</h3>
                                    </div>
                                    <div class="card-body">
                                        
                                        <a href="#" class="btn btn-warning active" style="margin-left: 70px">오프라인 정보시스템 등록</a>
                                    </div>
                                </div>
                            </div>

                        </div>
                        </nav>
                    </div>    
                </div>

<!-- ============================================================== -->
<!-- 숫자 네비게이션 [1][2][3][4][5][6][7] 종료 -->
<!-- ============================================================== -->


            </div>
         </div>
       </div>
    </div>
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            <div class="footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                             Copyright © 2018 Concept. All rights reserved. Dashboard by 중앙대학교
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                            <div class="text-md-right footer-links d-none d-sm-block">
                                <a href="javascript: void(0);">About</a>
                                <a href="javascript: void(0);">Support</a>
                                <a href="javascript: void(0);">Contact Us</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- end footer -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- end wrapper  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- end main wrapper  -->
    <!-- ============================================================== -->
    <!-- Optional JavaScript -->
    <!-- jquery 3.3.1 -->
    <script src="assets/vendor/jquery/jquery-3.3.1.min.js"></script>
    <!-- bootstap bundle js -->
    <script src="assets/vendor/bootstrap/js/bootstrap.bundle.js"></script>
    <!-- slimscroll js -->
    <script src="assets/vendor/slimscroll/jquery.slimscroll.js"></script>
    <!-- main js -->
    <script src="assets/libs/js/main-js.js"></script>
    <!-- chart chartist js -->
    <script src="assets/vendor/charts/chartist-bundle/chartist.min.js"></script>
    <!-- sparkline js -->
    <script src="assets/vendor/charts/sparkline/jquery.sparkline.js"></script>
    <!-- morris js -->
    <script src="assets/vendor/charts/morris-bundle/raphael.min.js"></script>
    <script src="assets/vendor/charts/morris-bundle/morris.js"></script>
    <!-- chart c3 js -->
    <script src="assets/vendor/charts/c3charts/c3.min.js"></script>
    <script src="assets/vendor/charts/c3charts/d3-5.4.0.min.js"></script>
    <script src="assets/vendor/charts/c3charts/C3chartjs.js"></script>
    <script src="assets/libs/js/dashboard-ecommerce.js"></script>

 
</body>
 
</html>