<nav class="navbar navbar-expand-lg bg-white fixed-top">
    <a class="navbar-brand" href="../dashboard">국가보안연구소</a>
    <div class="collapse navbar-collapse " id="navbarSupportedContent">

        <ul class="navbar-nav ml-auto navbar-right-top">
            <li class="nav-item">
                <a class="nav-link" href="../dashboard"  role="button"  aria-haspopup="true" aria-expanded="false">대쉬보드</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="../agent"  role="button" aria-haspopup="true" aria-expanded="false">에이전트관리</a>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="../group" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">그룹 및 정책관리</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="../group">기본 정보 </a>
                    <a class="dropdown-item" href="../newgroup">신규 그룹 생성</a>
                    <!--<a class="dropdown-item" href="../oldgroup">기존 그룹 관리</a>-->
                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="../log" role="button" aria-haspopup="true" aria-expanded="false">평가문항/로그관리</a>
            </li>

            <li class="nav-item dropdown connection">
                <a class="nav-link" href="../policy" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> 설정 <i class="far fa-sun"></i> </a>
                
            </li>

            <li class="nav-item dropdown nav-user">
                <a class="nav-link nav-user-img" href="#" id="navbarDropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">사용자 관리 </a>

                <ul class="dropdown-menu dropdown-menu-right connection-dropdown">
                    <li class="connection-list">
                        <div class="row">
                            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 ">
                                <a href="../login" class="connection-item"><span>로그인</span></a>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 ">
                                <a href="../login" class="connection-item"> <span>로그아웃</span></a>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 ">
                                <a href="../changeinfo" class="connection-item"> <span>정보변경</span></a>
                            </div>
                        </div>
                    </li>
                </ul>
            </li>

        </ul>
    </div>
</nav>