<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MS SQL TEST PAGE</title>
</head>
<body>
    <h2>MS SQL 테스트 페이지</h2>

    <input type="text" id="textTest" maxlength="50"/><button id="btnTest" type="button">테스트</button>
</body>
</html>