<!doctype html>
<html lang="en">
 
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="assets/vendor/bootstrap/css/bootstrap.min.css">
    <link href="assets/vendor/fonts/circular-std/style.css" rel="stylesheet">
    <link rel="stylesheet" href="assets/libs/css/style.css">
    <link rel="stylesheet" href="assets/vendor/fonts/fontawesome/css/fontawesome-all.css">
    <link rel="stylesheet" href="assets/vendor/charts/chartist-bundle/chartist.css">
    <link rel="stylesheet" href="assets/vendor/charts/morris-bundle/morris.css">
    <link rel="stylesheet" href="assets/vendor/fonts/material-design-iconic-font/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="assets/vendor/charts/c3charts/c3.css">
    <link rel="stylesheet" href="assets/vendor/fonts/flag-icon-css/flag-icon.min.css">
    <title>국가보안연구소</title>
</head>

<body>
  
<div class="dashboard-main-wrapper">
    <div class="dashboard-header">
        <nav class="navbar navbar-expand-lg bg-white fixed-top">
            <a class="navbar-brand" href="../dashboard">국가보안연구소</a>
            <div class="collapse navbar-collapse " id="navbarSupportedContent">
                
                <ul class="navbar-nav ml-auto navbar-right-top">
                    <li class="nav-item">
                        <a class="nav-link" href="../dashboard"  role="button"  aria-haspopup="true" aria-expanded="false">대쉬보드</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="../agent"  role="button" aria-haspopup="true" aria-expanded="false">에이전트관리</a>    
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="../group" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">그룹 및 정책관리</a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="../group">기본 정보 </a>
                            <a class="dropdown-item" href="../newgroup">신규 그룹 생성</a>
                            <a class="dropdown-item" href="../oldgroup">기존 그룹 관리</a>
                            </div>  
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="../log" role="button" aria-haspopup="true" aria-expanded="false">평가문항/로그관리</a>
                    </li>

                    <li class="nav-item dropdown connection">
                        <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> 설정 <i class="far fa-sun"></i> </a>
                        <ul class="dropdown-menu dropdown-menu-right connection-dropdown">
                            <li class="connection-list">
                                <div class="row">
                                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 ">
                                        <a href="#" class="connection-item"><span>CPE</span></a>
                                    </div>
                                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 ">
                                        <a href="#" class="connection-item"> <span>CCE</span></a>
                                    </div>
                                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 ">
                                        <a href="#" class="connection-item"> <span>OVAL</span></a>
                                    </div>
                                    </div>
                            </li>
                        </ul>
                    </li>
                    
                    <li class="nav-item dropdown nav-user">
                        <a class="nav-link nav-user-img" href="#" id="navbarDropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">사용자 관리 </a>
                        
                        <ul class="dropdown-menu dropdown-menu-right connection-dropdown">
                            <li class="connection-list">
                                <div class="row">
                                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 ">
                                        <a href="../login" class="connection-item"><span>로그인</span></a>
                                    </div>
                                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 ">
                                        <a href="../login" class="connection-item"> <span>로그아웃</span></a>
                                    </div>
                                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 ">
                                        <a href="../changeinfo" class="connection-item"> <span>정보변경</span></a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                
                </ul>
            </div>
        </nav>
    </div>
    <!-- ============================================================== -->
    <!-- 헤드 네비게이션 바 종료  -->
    <!-- ============================================================== -->
    
        <div class="">
            <div class="dashboard-ecommerce">
                <div class="container-fluid dashboard-content ">
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="page-header">
                                <h2 class="pageheader-title">그룹 및 정책 관리 </h2>
                                <div class="page-breadcrumb">
                                    <nav aria-label="breadcrumb">
                                        <ol class="breadcrumb">
                                            <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">MENU</a></li>
                                            <li class="breadcrumb-item active" aria-current="page">대쉬보드</li>
                                            <li class="breadcrumb-item active" aria-current="page">그룹 및 정책 관리</li>
                                             <li class="breadcrumb-item active" aria-current="page">기존 그룹 관리</li>
                                        </ol>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
        <!-- ============================================================== -->
        <!-- end pageheader  -->
        <!-- ============================================================== -->

        <!-- ============================================================== -->
        <!-- Search Bar 시작 -->
        <!-- ============================================================== -->
        <div class="ecommerce-widget">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mb-12">
                    <div class="section-block">
                                <h5 class="section-title"></h5>
                                <p></p>
                    </div>
                    <div class="tab-regular">
                        <ul class="nav nav-tabs " id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">기본정보</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">에이전트 할당</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">정책적용</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="report-tab" data-toggle="tab" href="#report" role="tab" aria-controls="report" aria-selected="false">레포팅</a>
                            </li>
                        </ul>

                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                
                                
                                    <div class="row" style="margin-bottom: 50px">
                                            <div class="col-xl-1">
                                                <label for="validationServer01">그룹명</label>
                                            </div>
                                            <div class="col-xl-6">
                                                 <input type="text" class="form-control is-valid" id="validationServer01" placeholder="기관보안관리를 위한 필수정책" value="기관보안관리를 위한 필수정책" required="">
                                            </div>
                                    </div>    

                                    <div class="row" style="margin-bottom: 50px">   
                                        <div class="col-xl-1">
                                            <label for="validationServer01">그룹설명</label>
                                        </div>
                                        <div class="col-xl-6">
                                            <input type="text" class="form-control is-valid" id="validationServer01"  required="" style="height: 200px">
                                        </div>
                                    </div>  

                                   <div class="row">   

                                        <div class="col-1">
                                            <label for="validationServer01">점검 주기 설정</label>

                                        </div>

                                        <div class="col-4">
                                            <div class="input-group-append be-addon">
                                               
                                               <select class="col-5 custom-select d-block w-100" style="height: 70px; margin-top: 1px; ">

                                                <option selected="">현재 점검 주기 : 매 월 1 일</option>
                                                <option value="10-20">매 주 월요일</option>
                                                <option value="20-30">매 주 수요일</option>
                                                <option value="30-30">매 주 금요일</option>
                                                <option value="1">매 월 1 일</option>
                                                <option value="10">매 월 10 일</option>
                                                <option value="15">매 월 15 일</option>
                                                <option value="finish">매 월 말일</option>
                                            </select>

                                            <a type="date" id="datepicker" class="col-3 btn btn-outline-brand" style="margin-left: 5px; text-align: center;"><h5 style="margin-top: 7px;">적용</h5></a>
                                            </div>
                                        </div>   
                                    </div>               
                             
                         
                            </div>

                 <!-- 에이전트 할당 탭 시작-->
                <div class="tab-pane" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    <div class="row">
                        <div class="col-xl-1">
                          <label class="custom-control custom-checkbox" style="margin-left: 10px">
                                <input id="ck1" name="ck1" type="checkbox" class="custom-control-input"><span class="custom-control-label">모두 선택</span>
                            </label>
                        </div>

                        <div class="col-xl-3" style="height: 70px">
                            <div class="input-group input-search">
                                <input class="form-control" type="text" placeholder="Search "><span class="input-group-btn">
                                <button class="btn btn-secondary" type="button"><i class="fas fa-search"></i></button></span>
                            </div>
                        </div>

                            
                    </div>
                    
                    <div class="row">
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4">
                                <div class="card" style="height: 300px; overflow: scroll;">
                                    <h4 class="card-header text-center">그룹 정보</h4>
                                    <div class="card-body p-0">
                                        <div class="table-responsive">
                                            <table class="table">
                                                <thead class="bg-light">
                                                    <tr class="border-0">
                                                        <th class="">check</th>
                                                        <th class="border-0 text-center">상태</th>
                                                        <th class="border-0 text-center ">IP</th>
                                                        <th class="border-0 text-center">운영체제 버전</th>
                                                        <th class="border-0 text-center">용도</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            <label class="custom-control custom-checkbox" style="margin-left: 10px" >
                                                                <input class="custom-control-input checkboxes text-center" type="checkbox" value="1" id="one"><span class="custom-control-label "></span>
                                                            </label>
                                                        </td>
                                                        <td>
                                                            <div class="m-r-10 text-center"><img src="assets/images/pass.png" alt="user" class="rounded" width="45"></div>
                                                        </td>
                                                        <td class="text-center">192.168.1.1 </td>
                                                        <td class="text-center">windows 10 sp3 </td>
                                                        <td class="text-center">DB 서버</td>
                                                    </tr>

                                                    <tr>
                                                        <td>
                                                            <label class="custom-control custom-checkbox" style="margin-left: 10px">
                                                                <input class="custom-control-input checkboxes" type="checkbox" value="1" id="one"><span class="custom-control-label"></span>
                                                            </label>
                                                        </td>
                                                        <td>
                                                            <div class="m-r-10 text-center"><img src="assets/images/fail.png" alt="user" class="rounded" width="45"></div>
                                                        </td>
                                                        <td class="text-center">192.168.1.1 </td>
                                                        <td class="text-center">windows 10 sp3 </td>
                                                        <td class="text-center">DB 서버</td>
                                                        
                                                        
                                                    </tr>

                                                     
                                                </tbody>
                                            </table>


                                        </div>
                                    </div>
                                </div>

                            <div class="row col-12">
                                <div class="col-3"></div>
                                <div class="col-4">

                                <nav aria-label="Demo of active current page number">
                                    <ul class="pagination">
                                        <li class="page-item active"><a class="page-link" href="#">Prev</a></li>

                                        <li class="page-item"><a class="page-link" href="#">1</a></li>

                                        <li class="page-item"><a class="page-link" href="#">2</a></li>

                                        <li class="page-item"><a class="page-link" href="#">3</a></li>

                                        <li class="page-item"><a class="page-link" href="#">Next</a></li>
                                    </ul>
                                </nav>

                                </div>
                            </div>

                        </div><!--그룹정보 카드 끝-->

                        <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-1"></div>   <!-- 더미 div-->

                        <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-1"> <!-- 버튼 시작-->
                               
                               <button type="button" class="btn btn-outline-light" data-method="move" data-option="10" data-second-option="0" title="Move Right" style=" width: 130px; height: 90px; margin-top: 100px;">

                                <span class="docs-tooltip" data-toggle="tooltip" data-animation="false" title="" data-original-title="$().cropper(&quot;move&quot;, 10, 0)">
                                 <span class="fa fa-arrow-right"></span>
                                </span>
                            </button>
                        </div><!-- 버튼 끝-->

                        <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-1"></div><!-- 더미 div-->
                        
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3""><!-- 할당된 에이전트 부분-->
                                <div class="card" style="height: 300px; overflow:scroll; ">
                                    <h5 class="card-header text-center">할당된 에이전트</h5>
                                   
                                      <div class="table-responsive">
                                            <table class="table">
                                                <thead class="bg-light">
                                                    <tr class="border-0">
                                                      <th class="border-0 text-center ">IP</th> 
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr><td class="text-center">192.168.1.1</td></tr>
                                                    <tr><td class="text-center">192.168.1.1</td></tr>
                                                    <tr><td class="text-center">192.168.1.1</td></tr>
                                                    <tr><td class="text-center">192.168.1.1</td></tr>      
                                                </tbody>
                                            </table>


                                        </div>
                                    
                                </div>

                                <div class="row">
                                    <div class="col-2"></div>

                                    <div class="col-4" style="margin-right: 10px">
                                        <div class="metric-label d-inline-block float-right text-success font-weight-bold">
                                        <a href="#" class="btn btn-outline-dark" data-toggle="modal" data-target="#directmodal"> 직접 작성 <span class="icon-circle-small icon-box-xs"><i class="fas fa-edit"></i></span></a>
                                        </div>
                                    </div>
                                    
                                    <!-- 직접쓰기  모달 시작-->
                                     <div class="modal fade" id="directmodal" tabindex="-1" role="dialog"
                                            aria-labelledby="exampleModalLabel" aria-hidden="true"
                                            style="display: none;">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="directmodal">에이전트 직접 할당</h5>
                                                        <a href="#" class="close" data-dismiss="modal"
                                                            aria-label="Close">
                                                            <span aria-hidden="true">×</span>
                                                        </a>
                                                    </div>


                                                    <form action="" method="POST">
                                                        <div class="modal-body">

                                                         <div class="form-group">
                                                                <label for="inputText1"
                                                                    class="col-form-label">IP</label>
                                                                <input name="txtIP" type="text" class="form-control">
                                                            </div>
                                                                
                                                        


                                                        </div>

                                                        <div class="modal-footer">
                                                            <a href="#" class="btn btn-secondary"
                                                                data-dismiss="modal">닫기</a>
                                                            <a href="#" class="btn btn-primary" type="submit">할당</a>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- 직접 쓰기 모달 끝-->
                                    <div class="col-4">
                                        <div class="metric-label d-inline-block float-right text-success font-weight-bold">
                                                <a href="#" class="btn btn-outline-success" data-toggle="modal" data-target="#csvModal"> 파일 업로드 <span class="icon-circle-small icon-box-xs text-success bg-success-light"><i class="fa fa-fw fa-arrow-up"></i></span><span class="ml-1"></span></a>     
                                        </div>
                                    </div>


                                        <!-- 파일 업로드 모달-->
                                     <div class="modal fade" id="csvModal" tabindex="-1" role="dialog"
                                            aria-labelledby="exampleModalLabel" aria-hidden="true"
                                            style="display: none;">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">


                                                        <h5 class="modal-title" id="csvModal">파일 업로드</h5>
                                                        <a href="#" class="close" data-dismiss="modal"
                                                            aria-label="Close">
                                                            <span aria-hidden="true">×</span>
                                                        </a>
                                                    </div>

                                                     

                                                    <form action="" method="POST">
                                                        <div class="modal-body">

                                                            <div class="form-group">
                                                                <label for="inputText1"
                                                                    class="col-form-label">파일 경로</label>
                                                                <input name="txtIP" type="text" class="form-control">
                                                            </div>

                                                            <label class="col-12 btn btn-outline-success btn-lg">
                                                             파일 첨부하기<input type="file" style="display: none;">
                                                            </label>

                                                        </div>

                                                        <div class="modal-footer">
                                                            <a href="#" class="btn btn-secondary"
                                                                data-dismiss="modal">닫기</a>
                                                            <a href="#" class="btn btn-primary" type="submit">변경 저장</a>
                                                        </div>

                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- 파일업로드 모달 끝-->
                                   
                                </div>
                             </div>
                        </div>
                    </div><!-- 에이전트 할당 탭 끝-->

                <!-- 정책 적용 탭 시작-->
                   
                    <div class="tab-pane" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                        <div class="row">
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4">
                                <div class="card" style="height: 300px; overflow: scroll;">
                                    <h4 class="card-header text-center">그룹에 포함된 운영체제 버전</h4>
                                   
                                    <div class="card-body p-0">
                                        <table class="table table-bordered">
                                        
                                        <tbody>
                                            <tr>
                                                <td>Windows 7</td>
                                                <td>Windows 10</td>
                                            </tr>
                                            <tr>
                                             
                                                <td>Windows 10</td>
                                                <td>Windows 7</td>
                                            </tr>
                                            <tr>
                                               
                                                <td>Windows 10</td>
                                                <td>Windows 7</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                        
                                    </div>
                                </div>


                            <div class="row col-12">
                                <div class="col-3"></div>
                                <div class="col-4">

                                <nav aria-label="Demo of active current page number">
                                    <ul class="pagination">
                                        <li class="page-item"><a class="page-link" href="#">Prev</a></li>

                                        <li class="page-item active"><a class="page-link" href="#">1</a></li>

                                        <li class="page-item"><a class="page-link" href="#">2</a></li>

                                        <li class="page-item"><a class="page-link" href="#">3</a></li>

                                        <li class="page-item"><a class="page-link" href="#">Next</a></li>
                                    </ul>
                                </nav>

                                </div>
                            </div>

                            <div class="col-12" style="margin-top: 15px;">
                               <a href="#" class="col-11 btn btn-outline-success" data-toggle="modal" data-target="#xccdfModal"> 정책 적용 <span class="icon-circle-small icon-box-xs text-success bg-success-light"><i class="fa fa-fw fa-arrow-up"></i></span><span class="ml-1"></span></a>
                            </div>

                           
                        

                             <!-- 정책 적용 모달 시작 -->
                                     <div class="modal fade" id="xccdfModal" tabindex="-1" role="dialog"
                                            aria-labelledby="exampleModalLabel" aria-hidden="true"
                                            style="display: none;">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">


                                                        <h5 class="modal-title" id="xccdfModal">정책 다운로드</h5>
                                                        <a href="#" class="close" data-dismiss="modal"
                                                            aria-label="Close">
                                                            <span aria-hidden="true">×</span>
                                                        </a>
                                                    </div>

                                                     

                                                    <form action="" method="POST">
                                                        <div class="modal-body">

                                                            <div class="form-group">
                                                                <label for="inputText1"
                                                                    class="col-form-label">다운로드 할 정책 명</label>
                                                                <input name="txtIP" type="text" class="form-control">
                                                            </div>

                                                            <a href="download path" download="" class="col-12 btn btn-outline-danger btn-lg">
                                                             정책 파일 다운로드<input type="file" style="display: none;">
                                                            </a>

                                                      
                                                        </div>

                                                        <div class="modal-footer">
                                                            <a href="#" class="btn btn-secondary"
                                                                data-dismiss="modal">닫기</a>
                                                            
                                                        </div>

                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    <!-- 정책 적용 모달 끝-->
                                                

                                </div>
                                
                                <!-- 운영체제 버전에 대한 div 끝이면서 운영체제 별 정책 할당 결과 div시작-->
                                <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 col-5">
                                    <div class="card" style="height: 500px; overflow: scroll;">
                                    <h4 class="card-header text-center">운영체제 별 정책 할당 결과</h4>
                                      <div class="card-body p-0">
                                          
                                        <table class="table table-hover">
                                       
                                        <tbody>
                                            <tr>
                                                <th scope="row">1</th>
                                                <td>색깔</td>
                                                <td>Windows 10</td>
                                                <td>Windows 10 bench mark</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">2</th>
                                                <td>색깔</td>
                                                <td>Windows 10</td>
                                                <td>Windows 10 bench mark</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">3</th>
                                                <td>색깔</td>
                                                <td>Windows 10</td>
                                                <td>Windows 10 bench mark</td>
                                            </tr>
                                        </tbody>
                                    </table>

                                      </div>
                                    </div>
                                </div>


                                 
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3">
                                    <div class="card " overflow="scroll" style="height: 500px;">
                                    <div class="card-header">
                                    README
                                    </div>
                                    <div class="card-body">
                                        <p class="card-text"> 파란색은 ~~~~ 의미입니다. </p>
                                        <p class="card-text"> 빨간색은 ~~~의미 입니다. </p>
                                        <p class="card-text"> 노란색은 ~~~의미입니다.</p>
                                    </div>
                                    <div class="card-footer p-0 text-center">
                                        <div class="card-footer-item card-footer-item-bordered">
                                            <a href="#" class="card-link"> 설명서 다운로드 </a>
                                        </div>
                                    </div>
                                </div>
                                </div>

                            <div class="col-9" style="margin-top: 3px;">
                                <a href="#" class="col-12 btn btn-warning btn-lg" data-toggle="modal" data-target="#xccdfModal"> 정책 다운로드 확인 </a>
                            </div>
                       

                    </div>
                </div>
                <!-- 정책 적용 탭 끝 -->

                            

<!-- 4번째 탭 레포팅 시작-->
                <div class="tab-pane" id="report" role="tabpanel" aria-labelledby="report-tab">
                     
                    <div class="row">
                      
                        <div class="col-xl-3" style="height: 70px">
                            <div class="input-group input-search">
                                <input class="form-control" type="text" placeholder="Search "><span class="input-group-btn">
                                <button class="btn btn-secondary" type="button"><i class="fas fa-search"></i></button></span>
                            </div>
                        </div> 
                    </div>
                    
                    <div class="row">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <div class="card" style="height: 290px; overflow: scroll;">
                                    <h4 class="card-header text-center">레포팅(그룹) 이력 조회 및 다운로드
</h4>
                                    <div class="card-body p-0">
                                        <div class="table-responsive">
                                            <table class="table">
                                                <thead class="bg-light">
                                                    <tr class="border-0">
                                                        <th class="border-0 text-center">번호</th>
                                                        <th class="border-0 text-center">레포팅 명칭</th>
                                                        <th class="border-0 text-center">정책 활성화 시간</th>
                                                        <th class="border-0 text-center">생성시간</th>
                                                        <th class="border-0 text-center">다운로드</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td class="text-center">1</td>
                                                        <td class="text-center">생성시간-그룹ID-그룹명</td>
                                                        <td class="text-center">2019.02.09.15:30.58</td>
                                                        <td class="text-center">2019.02.10.15:30.58</td>
                                                        <td class="text-center">
                                                            
                                                            <span class="icon"><i class="fas fa-paperclip"></i> </span>
                                                        </td>
                                                    </tr>

                                                   
                                                     
                                                </tbody>
                                            </table>


                                        </div>
                                    </div>
                                </div>
                            <!-- 아래 화살표 1 2 3 4 5 끝 -->
                                <div class="col-xs-12 ">
                                    <nav aria-label="Page navigation">
                                        <div class="col-xs-5"></div>
                                        <div class="col-xs-4">
                                            <ul class="pagination" style="text-align: center;">
                                                <li>
                                                    <a href="#" aria-label="Previous">
                                                        <span aria-hidden="true">«</span>
                                                    </a>
                                                </li>
                                                <li class="active"><a href="#">1</a></li>
                                                <li><a href="#">2</a></li>
                                                <li><a href="#">3</a></li>
                                                <li><a href="#">4</a></li>
                                                <li><a href="#">5</a></li>
                                                <li>
                                                    <a href="#" aria-label="Next">
                                                        <span aria-hidden="true">»</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </nav>
                                </div>
                              <!-- 아래 화살표 1 2 3 4 5 끝 -->

                            </div>
                          

        

                        </div>       
                    </div>



                            </div>

<!-- 4번째 탭 레포팅 끝-->
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xl-4 col-sm-4 col-lg-4 col-4"></div>
                <div class="col-xl-3 col-sm-3 col-lg-3" style="margin-top: 25px">
                    <button type="submit" class="btn btn-space btn-primary col-5">수정</button>
                    <button class="btn btn-space btn-secondary col-5">취소</button>
                </div>
            </div>
            

        </div>

    </div>
    </div>
    </div>
    </div>
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            <div class="footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                             Copyright © 2018 Concept. All rights reserved. Dashboard by 중앙대학교</a>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                            <div class="text-md-right footer-links d-none d-sm-block">
                                <a href="javascript: void(0);">About</a>
                                <a href="javascript: void(0);">Support</a>
                                <a href="javascript: void(0);">Contact Us</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- end footer -->
            <!-- ============================================================== -->
    </div>
    
    <!-- jquery 3.3.1 -->
    <script src="assets/vendor/jquery/jquery-3.3.1.min.js"></script>
    <!-- bootstap bundle js -->
    <script src="assets/vendor/bootstrap/js/bootstrap.bundle.js"></script>
    <!-- slimscroll js -->
    <script src="assets/vendor/slimscroll/jquery.slimscroll.js"></script>
    <!-- main js -->
    <script src="assets/libs/js/main-js.js"></script>
    <script src="../assets/vendor/full-calendar/js/calendar.js"></script>
    <script src="../assets/vendor/full-calendar/js/jquery-ui.min.js"></script>
    <script src="../assets/vendor/full-calendar/js/fullcalendar.js"></script>
    <script src="../assets/vendor/full-calendar/js/moment.min.js"></script>

    
</body>
</html>